yml/custom_theme_extraction.yml
app:
  description: 自定义主题萃取与词汇提纯 (Custom Theme Extraction)
  icon: 📝
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: custom_theme_extraction
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
  graph:
    edges:
    - data:
        sourceType: start
        targetType: knowledge-retrieval
      id: edge-1
      source: start_node
      sourceHandle: source
      target: retrieval_node
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: edge-2
      source: retrieval_node
      sourceHandle: source
      target: llm_node
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: edge-3
      source: llm_node
      sourceHandle: source
      target: code_node
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: end
      id: edge-4
      source: code_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
    nodes:
    - data:
        title: 用户输入
        type: start
        variables:
        - default: ''
          label: 拟定主题名称
          max_length: 256
          required: false
          type: text-input
          variable: custom_theme_name
        - default: ''
          label: 学习主题
          required: true
          type: text-input
          variable: topic
      id: start_node
      position:
        x: 0
        y: 100
      type: custom
    - data:
        dataset_ids:
        - Gh9Wui8bN0bAx85wYPwLdU/mVJRTqTm97rjWl6DvF6xxd5DAF72wFc1u4Pu7Y4S8
        query_variable_selector:
        - start_node
        - topic
        title: 知识检索
        type: knowledge-retrieval
      id: retrieval_node
      position:
        x: 300
        y: 100
      type: custom
    - data:
        context:
          enabled: true
          variable_selector:
          - retrieval_node
          - text
        model:
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: |
            你是一个商务英语教学场景萃取专家。用户上传了一份商务材料。
            
            【用户拟定的主题名称】: {{#start_node.custom_theme_name#}}
            【知识库检索到的文档片段】: {{#context#}}
            
            请完成以下任务：
            1. 根据文档内容，优化/确认一个精确的主题名称（中英双语，如 "Tesla Q3 Earnings Call - 特斯拉Q3财报电话会议"）
            2. 提取文档中最有价值的 15-20 个商务英语核心词汇（含英文、音标、中文释义）
            3. 提取 5-8 个高频商务短语/表达
            
            请以 JSON 格式输出，不要加任何 markdown 标记：
            {"theme_name":"...","extracted_words":[{"word":"...","ipa":"...","meaning_zh":"..."}],"key_phrases":["..."]}
        title: LLM萃取
        type: llm
      id: llm_node
      position:
        x: 600
        y: 100
      type: custom
    - data:
        code: |
          import json
          def main(raw_text: str) -> dict:
              try:
                  clean = raw_text.strip().replace('```json', '').replace('```', '').strip()
                  parsed = json.loads(clean)
                  return {
                      "theme_name": parsed.get("theme_name", "Custom Theme"),
                      "extracted_words": json.dumps(parsed.get("extracted_words", []), ensure_ascii=False),
                      "key_phrases": json.dumps(parsed.get("key_phrases", []), ensure_ascii=False)
                  }
              except:
                  return {"theme_name": "Custom Theme", "extracted_words": "[]", "key_phrases": "[]"}
        code_language: python3
        outputs:
          extracted_words:
            type: string
          key_phrases:
            type: string
          theme_name:
            type: string
        title: 代码解析
        type: code
        variables:
        - value_selector:
          - llm_node
          - text
          value_type: string
          variable: raw_text
      id: code_node
      position:
        x: 900
        y: 100
      type: custom
    - data:
        outputs:
        - value_selector:
          - code_node
          - theme_name
          value_type: string
          variable: theme_name
        - value_selector:
          - code_node
          - extracted_words
          value_type: string
          variable: extracted_words
        - value_selector:
          - code_node
          - key_phrases
          value_type: string
          variable: key_phrases
        title: 输出
        type: end
      id: end_node
      position:
        x: 1200
        y: 100
      type: custom
