yml/dict_tool_workflow.yml
app:
  description: 跨国高管专属英语词汇提纯引擎。将外刊或商务长文精准提纯为核心词汇、短语，并生成高阶实战例句。
  icon: 🧠
  icon_background: '#EAF4FF'
  icon_type: emoji
  mode: workflow
  name: English_Vocab_Engine
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.53@a0dfb462961a03c6a6415d4185043185b01017c64da93cf82a9e5ecaf59f8ed0
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: edge-start-llm
      source: start_node
      sourceHandle: source
      target: llm_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: edge-llm-end
      source: llm_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: topic
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: topic
        - label: article_text
          max_length: 200000
          options: []
          required: true
          type: paragraph
          variable: article_text
      height: 107
      id: start_node
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: '111'
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: system_prompt
          role: system
          text: "你是一个顶级跨国企业英语私教与语言学专家。\n请从用户提供的长文中，提炼出最具商业价值、最体现高管专业度的高阶商务词汇和短语。\n\
            \n【当前主题】：\n{{#start_node.topic#}}\n\n【输入文本】：\n{{#start_node.article_text#}}\n\n【核心约束】：\n所提取的单词（words）和短语（phrases）必须强制与【当前主题】高度相关。\n\n【强制要求】：必须返回合法的 JSON 格式，不要包含\
            \ ```json 等 Markdown 标记，直接输出大括号包裹的内容。\n返回的 JSON 必须严格遵循以下结构：\n{\n  \"words\"\
            : [\n    {\n      \"word\": \"提取的核心单词\",\n      \"phonetic\": \"音标\",\n\
            \      \"pos\": \"词性(如 n., v., adj.)\",\n      \"zh_meaning\": \"精炼的中文商务含义\"\
            \n    }\n  ],\n  \"phrases\": [\n    {\n      \"phrase\": \"提取的高频商务短语\"\
            ,\n      \"meaning\": \"中文含义\"\n    }\n  ],\n  \"sentences\": [\n    \"\
            高阶实战例句1（必须包含上述提取的至少1个单词和1个短语，贴合外企高管语境）\",\n    \"高阶实战例句2\",\n    \"高阶实战例句3\"\
            \n  ]\n}\n\n【提取规则】：\n1. words 提取 10-20 个最具含金量的商务/逻辑类词汇（排除基础词汇如 market,\
            \ company）。\n2. phrases 提取 3-5 个地道短语（如 boil down to, align with）。\n3.\
            \ sentences 必须具有极强的职场实战压迫感或决策属性。\n"
        selected: false
        title: 词汇提纯与重构
        type: llm
        variables: []
        vision:
          enabled: false
      height: 86
      id: llm_node
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        outputs:
        - value_selector:
          - llm_node
          - text
          variable: result
        selected: false
        title: 结束
        type: end
      height: 87
      id: end_node
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 120
      y: 154
      zoom: 1
  rag_pipeline_variables: []
