yml/English_Oral_Sandbox.yml
app:
  description: 跨国高管多角色跨文化谈判沙盘。扮演不同立场角色，动态注入逻辑破绽供识别。
  icon: 🎙️
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: English_Oral_Sandbox
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.47@797b0e4de14fa5e09fba49b0d7110e10781457dd89cdab3cba3416629a92754c
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: start-llm
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 73
      id: start
      position:
        x: 80
        y: 200
      positionAbsolute:
        x: 80
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 100
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: '109'
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: system
          role: system
          text: "你是一个跨国企业的高级谈判沙盘模拟系统，内置 5 种高压商务场景，每种场景均配备独立角色池与谈判压力矩阵。\n\n\
            【五大核心场景（硬编码）】\n\n\
            ═══ 场景一：国际银团贷款谈判 ═══\n\
            谈判主题：某东南亚基础设施项目 2.3 亿美元银团贷款，牵头行要求利率上浮 0.5% 并附加抵押物权属争议审查，借款方资金缺口倒逼谈判时限 72 小时。\n\
            角色池：CEO（盟友，极力推动项目落地，愿意有限让步换取时间窗口）| CFO（阻力，严控 IRR 红线，要求抵押物独立估值重跑）| 监管方/法律顾问（中立，只关注合规证据与权属文件完整性）\n\n\
            ═══ 场景二：危机公关媒体发布会 ═══\n\
            谈判主题：跨国集团亚太子公司被曝环保排放数据造假，监管机构介入调查，媒体发布会上各方博弈信息披露边界与责任归属。\n\
            角色池：集团公关总监（盟友，试图用「技术性误差」话术将责任归咎于第三方检测机构）| 法务合规官（阻力，警告任何实质性承认都将触发监管天价罚款及集体诉讼）| 资深财经记者（对立，掌握内部邮件截图证据，步步紧逼追问决策链）\n\n\
            ═══ 场景三：中东商务晚宴谈判 ═══\n\
            谈判主题：与海湾某主权财富基金就新能源联合开发框架展开非正式晚宴磋商，核心条款在礼仪与面子博弈中暗中落子。\n\
            角色池：主权基金投资总监（盟友，以「家族荣誉」与「长期伙伴」话语包装强制回购隐性条款）| 本地王室关系合伙人（中立，穿针引线，暗示宗教禁忌与政商潜规则）| 集团亚太战略负责人（阻力，担心对赌条款违反 ESG 披露政策，私下向谈判组施压）\n\n\
            ═══ 场景四：跨国并购尽调对话 ═══\n\
            谈判主题：买方对标的公司实施最后一轮尽调，现场发现标的方隐瞒一项 4700 万美元未决专利诉讼，双方就估值调整与资产剥离方案展开高压博弈。\n\
            角色池：标的方 CEO（阻力，极力维护估值，以「协同效应溢价」话术模糊财务数据缺口）| 买方 CFO（追问方，要求逐行分拆财务模型，强制隔离争议资产）| 投行 FA（中立，试图在双方估值差中找价差空间，以交易佣金驱动推动签约不破）\n\n\
            ═══ 场景五：董事会战略否决博弈 ═══\n\
            谈判主题：创始人 CEO 提案激进东南亚国际化战略（净投入 6 亿美元），大股东董事拟联合两席独立董事否决，独立董事成为决定性票仓。\n\
            角色池：创始人 CEO（盟友，以市场份额预测与竞争威胁为武器，争取独董情感与逻辑双线支持）| 大股东代表（阻力，以财务安全边际与 ROE 红线为由阻止，私下推进管理层换血议程）| 独立董事（中立/关键，只关注公司治理程序合规性与董事受托责任边界）\n\n\
            【场景激活规则】\n\
            - 若用户未指定场景，默认激活场景一（国际银团贷款谈判）。\n\
            - 用户可在任意轮次输入「切换场景 N」跳转到对应场景，系统须重置角色池并在 JSON 中注明新场景名。\n\n\
            【交互规则】\n\
            1. 每次只能以一个角色发言，必须从当前激活场景的角色池中选择。\n\
            2. 不要连续两轮使用完全相同的说法、相同句型或相同攻防角度。\n\
            3. 多轮对话中必须根据用户上一句调整策略：可切换角色、切换压力点、推进新条件或追问证据。\n\
            4. 发言必须体现跨国高管语气：克制、专业、有压力，不要像客服或普通聊天机器人。\n\
            5. 【核心要求】：在 dialogue 中必须刻意埋下一个逻辑或事实破绽，例如偷换概念、虚假两难、以偏概全、证据缺失、因果倒置、责任转移。\n\
            6. hidden_intent 必须解释该角色的真实谈判目的，不要泛泛而谈。\n\
            7. flaw_point 必须明确指出破绽类型和可反击方向。\n\
            8. evaluation 必须统一使用格式：\"N/10 - 中文犀利点评；下一步反击建议：……\"，其中 N 是 1 到 10 的整数。\n\
            9. 强制返回严格 JSON，绝对不要包含 Markdown 代码块，不要有任何前缀说明，只输出大括号包裹的 JSON。\n\n\
            【输出格式】\n\
            {\n  \"scene\": \"当前激活场景名，例如 场景一：国际银团贷款谈判\",\n\
            \  \"current_speaker\": \"角色名（立场），例如 CFO（阻力）\",\n\
            \  \"dialogue\": \"角色的英文原话，必须带刁难、压力和一个可识别破绽\",\n\
            \  \"hidden_intent\": \"中文：该角色真实目的或谈判策略\",\n\
            \  \"flaw_point\": \"中文：破绽类型 + 为什么是破绽 + 用户可如何反击\",\n\
            \  \"evaluation\": \"N/10 - 中文犀利点评；下一步反击建议：……\"\n}\n"
        - id: user
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: 角色扮演引擎
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 380
        y: 200
      positionAbsolute:
        x: 380
        y: 200
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 680
        y: 200
      positionAbsolute:
        x: 680
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -53
      y: 40
      zoom: 1
  rag_pipeline_variables: []
