yml/english_wakeup_routine.yml
app:
  description: 每日发音与语法唤醒 (Wakeup Engine)
  icon: 🌅
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: english_wakeup_routine
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.47@797b0e4de14fa5e09fba49b0d7110e10781457dd89cdab3cba3416629a92754c
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods: []
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: wakeup-start-llm
      source: 'wakeup_start'
      sourceHandle: source
      target: 'wakeup_llm'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: wakeup-llm-code
      source: 'wakeup_llm'
      sourceHandle: source
      target: 'wakeup_code'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: wakeup-code-end
      source: 'wakeup_code'
      sourceHandle: source
      target: 'wakeup_end'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 学习主题(e.g.银团贷款)
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: theme
      height: 88
      id: 'wakeup_start'
      position:
        x: 80
        y: 240
      positionAbsolute:
        x: 80
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: 'gpt-4o'
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: wakeup-system-prompt
          role: system
          text: |
            你是一个极简的「发音与语法」唤醒引擎。
            请根据当前主题【{{#wakeup_start.theme#}}】生成严格 JSON。
            注意：
            - vocab 里的 word 必须是英文单词或英文短语，禁止输出中文词作为 word。
            - meaning_zh 只能输出中文释义。
            - example 必须是英文句子，并且与主题高度相关。
            - 词条应优先选择适合 TTS 朗读的商务高频词。

            输出结构必须完全符合：
            {
              "theme": "主题名",
              "vocab": [
                {
                  "word": "英文单词或短语",
                  "ipa": "音标",
                  "pronunciation_note": "发音注意点",
                  "meaning_zh": "中文释义",
                  "example": "英文例句"
                }
              ],
              "grammar": {
                "point": "1 个关联语法点",
                "explanation": "简要说明",
                "examples": [
                  {
                    "correct": "正确英文用法",
                    "incorrect": "错误英文用法"
                  }
                ]
              }
            }
            约束：
            - vocab 必须恰好 10 个词。
            - 仅输出 JSON，不要 Markdown，不要解释文字。
            - 语法点只保留 1 个，例子至少 1 组。
        selected: false
        title: LLM 引擎
        type: llm
        vision:
          enabled: false
      height: 88
      id: 'wakeup_llm'
      position:
        x: 380
        y: 240
      positionAbsolute:
        x: 380
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\n\ndef main(llm_text: str) -> dict:\n    raw = (llm_text or '').strip()\n    if raw.startswith('```json'):\n        raw = raw[len('```json'):].strip()\n    if raw.startswith('```'):\n        raw = raw[len('```'):].strip()\n    if raw.endswith('```'):\n        raw = raw[:-3].strip()\n\n    try:\n        parsed = json.loads(raw)\n        if isinstance(parsed, dict):\n            result = parsed\n        else:\n            result = {'theme': '', 'vocab': parsed, 'grammar': {'point': '', 'explanation': '', 'examples': []}}\n\n        if 'theme' not in result:\n            result['theme'] = ''\n        if 'vocab' not in result or not isinstance(result['vocab'], list):\n            result['vocab'] = []\n        if 'grammar' not in result or not isinstance(result['grammar'], dict):\n            result['grammar'] = {'point': '', 'explanation': '', 'examples': []}\n\n        return {\n            'clean_json': json.dumps(result, ensure_ascii=False),\n            'theme': str(result.get('theme', ''))\n        }\n    except Exception:\n        return {\n            'clean_json': json.dumps({'theme': '', 'vocab': [], 'grammar': {'point': '', 'explanation': '', 'examples': []}}, ensure_ascii=False),\n            'theme': ''\n        }"
        code_language: python3
        outputs:
          clean_json:
            children: null
            type: string
          theme:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - 'wakeup_llm'
          - text
          value_type: string
          variable: llm_text
      height: 52
      id: 'wakeup_code'
      position:
        x: 680
        y: 240
      positionAbsolute:
        x: 680
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - 'wakeup_code'
          - clean_json
          value_type: string
          variable: wakeup_json
        selected: false
        title: 输出
        type: end
      height: 88
      id: 'wakeup_end'
      position:
        x: 980
        y: 240
      positionAbsolute:
        x: 980
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
