yml/English_Vocab_Engine.yml
app:
  description: 跨国高管专属英语词汇提纯引擎。将外刊或商务长文精准提纯为核心词汇、短语，并生成高阶实战例句。
  icon: 🧠
  icon_background: '#EAF4FF'
  icon_type: emoji
  mode: workflow
  name: English_Vocab_Engine
  use_icon_as_answer_icon: false
kind: app
version: 0.1.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
    image:
      enabled: false
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: edge-start-llm
        source: start_node
        sourceHandle: source
        target: llm_node
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: llm
          targetType: end
        id: edge-llm-end
        source: llm_node
        sourceHandle: source
        target: end_node
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          desc: ''
          selected: false
          title: 开始
          type: start
          variables:
            - max_length: 20000
              options: []
              required: true
              type: paragraph
              variable: article_text
        height: 90
        id: start_node
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: ''
          model:
            completion_params:
              temperature: 0.1
            mode: chat
            name: gpt-4o
            provider: openai
          prompt_template:
            - id: system_prompt
              role: system
              text: |
                你是一个顶级跨国企业英语私教与语言学专家。
                请从用户提供的长文中，提炼出最具商业价值、最体现高管专业度的高阶商务词汇和短语。
                
                【输入文本】：
                {{#start_node.article_text#}}
                
                【强制要求】：必须返回合法的 JSON 格式，不要包含 ```json 等 Markdown 标记，直接输出大括号包裹的内容。
                返回的 JSON 必须严格遵循以下结构：
                {
                  "words": [
                    {
                      "word": "提取的核心单词",
                      "phonetic": "音标",
                      "pos": "词性(如 n., v., adj.)",
                      "zh_meaning": "精炼的中文商务含义"
                    }
                  ],
                  "phrases": [
                    {
                      "phrase": "提取的高频商务短语",
                      "meaning": "中文含义"
                    }
                  ],
                  "sentences": [
                    "高阶实战例句1（必须包含上述提取的至少1个单词和1个短语，贴合外企高管语境）",
                    "高阶实战例句2",
                    "高阶实战例句3"
                  ]
                }
                
                【提取规则】：
                1. words 提取 10-20 个最具含金量的商务/逻辑类词汇（排除基础词汇如 market, company）。
                2. phrases 提取 3-5 个地道短语（如 boil down to, align with）。
                3. sentences 必须具有极强的职场实战压迫感或决策属性。
          selected: false
          title: 词汇提纯与重构
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: llm_node
        position:
          x: 380
          y: 282
        positionAbsolute:
          x: 380
          y: 282
        selected: true
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: ''
          outputs:
            - value_selector:
                - llm_node
                - text
              variable: result
          selected: false
          title: 结束
          type: end
        height: 90
        id: end_node
        position:
          x: 680
          y: 282
        positionAbsolute:
          x: 680
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1