yml/english_mastery_logic (13).yml
app:
  description: 政商务英语专精 (english_mastery_logic)
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: english_mastery_logic
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/xinference:0.0.12@7f769997473871d962db4a6f24ef94ecab2de78466b970882a49a4b169c4fceb
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.47@797b0e4de14fa5e09fba49b0d7110e10781457dd89cdab3cba3416629a92754c
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1778494534971-source-1778494763066-target
      source: '1778494534971'
      sourceHandle: source
      target: '1778494763066'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1778494763066-source-1778494947197-target
      source: '1778494763066'
      sourceHandle: source
      target: '1778494947197'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1778494947197-source-1778502090453-target
      source: '1778494947197'
      sourceHandle: source
      target: '1778502090453'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: template-transform
      id: 1778502090453-source-1778495186803-target
      source: '1778502090453'
      sourceHandle: source
      target: '1778495186803'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: http-request
      id: 1778495186803-source-1778502204789-target
      source: '1778495186803'
      sourceHandle: source
      target: '1778502204789'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1778502204789-source-1778495561164-target
      source: '1778502204789'
      sourceHandle: source
      target: '1778495561164'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 学习主题(e.g.银团贷款)
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: topic
        - default: ''
          hint: ''
          label: material_text
          max_length: 150000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: material_text
      height: 135
      id: '1778494534971'
      position:
        x: 79
        y: 282
      positionAbsolute:
        x: 79
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - Gh9Wui8bN0bAx85wYPwLdU/mVJRTqTm97rjWl6DvF6xxd5DAF72wFc1u4Pu7Y4S8
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: bge-reranker-base
            provider: langgenius/xinference/xinference
          score_threshold: null
          top_k: 5
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: bge-small-zh-v1.5
              embedding_provider_name: langgenius/xinference/xinference
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1778494534971'
        - topic
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1778494763066'
      position:
        x: 381
        y: 281
      positionAbsolute:
        x: 381
        y: 281
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1778494763066'
          - result
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: '109'
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: e6af0b10-5ca5-4f5d-bc23-4a50b1336369
          role: system
          text: "请根据检索到的语料内容 {{#context#}} 和用户输入的 {{#1778494534971.material_text#}}进行提纯：\n\
            20个核心词汇：包含 IPA 国际音标、精准商务释义、以及在此业务语境下的用法。\n10 个深度短语：每个短语需提供 3 个以上的例句。例句必须模拟“支行副行长”与“外企\
            \ CEO”或“跨国监管方”博弈的实战场景，涵盖利率谈判、合规审查等细节。\n提问与找破绽专项：加入至少 5 个用于识别逻辑漏洞的专属词汇\
            \ (如 contradiction, ambiguity, counter-party risk)。\n# 输出要求\n请严格输出一个 JSON\
            \ 数组格式，禁止包含 markdown 代码块（不要输出 ```json），结构必须完全符合以下格式：\n[\n  {\n    \"word\"\
            : \"提取的单词或短语\",\n    \"dictType\": \"manual_capture\",\n    \"category\"\
            : \"business\",\n    \"payload\": {\n      \"meaning\": \"中文释义\",\n  \
            \    \"phonetic\": \"国际音标\",\n      \"partOfSpeech\": \"词性(如 n., v.)\"\
            ,\n      \"definition_en\": \"英文商务释义\",\n      \"business_note\": \"政商务实战语境下的注意点或破绽提示\"\
            ,\n      \"examples\": [\"包含该词的实战例句1\", \"实战例句2\"],\n      \"source\"\
            : \"Dify_Workflow_Auto\"\n    },\n    \"userId\": \"default-user\"\n \
            \ }\n]"
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1778494947197'
      position:
        x: 683
        y: 281
      positionAbsolute:
        x: 683
        y: 281
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: "# 今日政商务英语提纯 - 主题: {{ topic }}\r\n\r\n---\r\n## 核心词汇与短语\r\n\r\n\
          {{ markdown_text }}"
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1778494534971'
          - topic
          value_type: string
          variable: topic
        - value_selector:
          - '1778502090453'
          - markdown_text
          value_type: string
          variable: llm_content
      height: 52
      id: '1778495186803'
      position:
        x: 1284
        y: 281
      positionAbsolute:
        x: 1284
        y: 281
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1778495186803'
          - output
          value_type: string
          variable: study_material
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1778495561164'
      position:
        x: 1886
        y: 281
      positionAbsolute:
        x: 1886
        y: 281
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(llm_text: str) -> dict:\n    clean_str = llm_text.strip().strip('```json').strip('```').strip()\n\
          \    try:\n        parsed = json.loads(clean_str)\n        \n        # 1.\
          \ 准备给 HTTP 节点的纯净 JSON\n        json_output = json.dumps(parsed, ensure_ascii=False)\n\
          \        \n        # 2. 准备给前端展示的 Markdown 排版\n        md_lines = []\n  \
          \      for item in parsed:\n            word = item.get(\"word\", \"\")\n\
          \            payload = item.get(\"payload\", {})\n            \n       \
          \     phonetic = payload.get(\"phonetic\", \"\")\n            pos = payload.get(\"\
          partOfSpeech\", \"\")\n            meaning = payload.get(\"meaning\", \"\
          \")\n            def_en = payload.get(\"definition_en\", \"\")\n       \
          \     note = payload.get(\"business_note\", \"\")\n            examples\
          \ = payload.get(\"examples\", [])\n            \n            md_lines.append(f\"\
          ### {word} [{phonetic}]\")\n            md_lines.append(f\"* **词性**: {pos}\"\
          )\n            md_lines.append(f\"* **中/英释义**: {meaning} / {def_en}\")\n\
          \            md_lines.append(f\"* **高管实战笔记**: {note}\")\n            md_lines.append(f\"\
          * **博弈例句**:\")\n            for ex in examples:\n                md_lines.append(f\"\
          \  - {ex}\")\n            md_lines.append(\"\\n---\")\n            \n  \
          \      markdown_text = \"\\n\".join(md_lines)\n        \n        return\
          \ {\n            \"clean_json\": json_output,\n            \"markdown_text\"\
          : markdown_text\n        }\n    except Exception as e:\n        return {\n\
          \            \"clean_json\": \"[]\",\n            \"markdown_text\": \"\
          > ⚠️ JSON 解析失败，LLM 输出可能格式异常。\"\n        }"
        code_language: python3
        outputs:
          clean_json:
            children: null
            type: string
          markdown_text:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1778494947197'
          - text
          value_type: string
          variable: llm_text
      height: 52
      id: '1778502090453'
      position:
        x: 984
        y: 281
      positionAbsolute:
        x: 984
        y: 281
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-245
            key: ''
            type: text
            value: '{{#1778502090453.clean_json#}}'
          type: raw-text
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: https://app.liujingzhuwo.site/api/vocab/batch-add
        variables: []
      height: 137
      id: '1778502204789'
      position:
        x: 1586
        y: 281
      positionAbsolute:
        x: 1586
        y: 281
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -4.683164300119074
      y: 20.31844113915065
      zoom: 1.0000000000000027
  rag_pipeline_variables: []
