yml/english_mastery_logic (16).yml
app:
  description: 政商务英语专精 (english_mastery_logic)
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: english_mastery_logic
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.53@a0dfb462961a03c6a6415d4185043185b01017c64da93cf82a9e5ecaf59f8ed0
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/xinference:0.0.15@1de758e19d1e6751215f0209057564c5cfd4e23ea8259d75fe33060543908b26
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 1024
        batch_count_limit: 5
        file_size_limit: 1024
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 1024
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: edge-start-kr
      source: '1778494534971'
      sourceHandle: source
      target: '1778494763066'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: edge-kr-llm1
      source: '1778494763066'
      sourceHandle: source
      target: llm_part_a
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: edge-kr-llm2
      source: '1778494763066'
      sourceHandle: source
      target: llm_part_b
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: edge-kr-llm3
      source: '1778494763066'
      sourceHandle: source
      target: llm_part_c
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-llm1-merge
      source: llm_part_a
      sourceHandle: source
      target: code_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-llm2-merge
      source: llm_part_b
      sourceHandle: source
      target: code_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-llm3-merge
      source: llm_part_c
      sourceHandle: source
      target: code_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: template-transform
      id: edge-merge-template
      source: code_merge
      sourceHandle: source
      target: template_transform
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: edge-template-end
      source: template_transform
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 学习主题(e.g.银团贷款)
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: topic
        - default: ''
          hint: ''
          label: material_text
          max_length: 150000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: material_text
      height: 135
      id: '1778494534971'
      position:
        x: 0
        y: 73.71428571428572
      positionAbsolute:
        x: 0
        y: 73.71428571428572
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - Gh9Wui8bN0bAx85wYPwLdU/mVJRTqTm97rjWl6DvF6xxd5DAF72wFc1u4Pu7Y4S8
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: bge-reranker-base
            provider: langgenius/xinference/xinference
          score_threshold: null
          top_k: 5
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: bge-small-zh-v1.5
              embedding_provider_name: langgenius/xinference/xinference
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1778494534971'
        - topic
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1778494763066'
      position:
        x: 316.28571428571433
        y: 100.14285714285714
      positionAbsolute:
        x: 316.28571428571433
        y: 100.14285714285714
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1778494763066'
          - result
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: '86'
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: prompt-llm1
          role: system
          text: "请根据检索到的语料内容 {{#context#}} 和用户输入的 {{#1778494534971.material_text#}}\
            \ 进行提纯。\n# 你的分工\n重点提取 **利率谈判、资金成本、交易结构** 相关的商务词汇。\n# 数量要求\n- 7个核心词汇：包含\
            \ IPA 国际音标、精准商务释义、以及在此业务语境下的用法。\n- 3个深度短语：每个短语仅需 1 个精炼例句，模拟\"支行副行长\"与\"\
            外企 CEO\"博弈的实战场景。\n# 输出格式\n请严格输出一个 JSON 数组，禁止包含 markdown 代码块（不要输出 ```json），结构如下：\n\
            [\n  {\n    \"word\": \"提取的单词或短语\",\n    \"dictType\": \"manual_capture\"\
            ,\n    \"category\": \"business\",\n    \"payload\": {\n      \"meaning\"\
            : \"中文释义\",\n      \"phonetic\": \"国际音标\",\n      \"partOfSpeech\": \"\
            词性(如 n., v.)\",\n      \"definition_en\": \"英文商务释义\",\n      \"business_note\"\
            : \"政商务实战语境下的注意点或破绽提示\",\n      \"examples\": [\"包含该词的实战例句1\"],\n    \
            \  \"source\": \"Dify_Workflow_Auto\"\n    },\n    \"userId\": \"default-user\"\
            \n  }\n]\n"
        selected: false
        title: LLM 词汇 Part A
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_part_a
      position:
        x: 704
        y: 0
      positionAbsolute:
        x: 704
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1778494763066'
          - result
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: '86'
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: prompt-llm2
          role: system
          text: "请根据检索到的语料内容 {{#context#}} 和用户输入的 {{#1778494534971.material_text#}}\
            \ 进行提纯。\n# 你的分工\n重点提取 **风险控制、合规审查、抵押担保、违约责任** 相关的专业词汇。\n# 数量要求\n- 7个核心词汇：包含\
            \ IPA 国际音标、精准商务释义、以及在此业务语境下的用法。\n- 3个深度短语：每个短语仅需 1 个精炼例句，模拟\"跨国监管方\"与\"\
            企业高管\"博弈的实战场景。\n# 输出格式\n请严格输出一个 JSON 数组，禁止包含 markdown 代码块（不要输出 ```json），结构如下：\n\
            [\n  {\n    \"word\": \"提取的单词或短语\",\n    \"dictType\": \"manual_capture\"\
            ,\n    \"category\": \"business\",\n    \"payload\": {\n      \"meaning\"\
            : \"中文释义\",\n      \"phonetic\": \"国际音标\",\n      \"partOfSpeech\": \"\
            词性(如 n., v.)\",\n      \"definition_en\": \"英文商务释义\",\n      \"business_note\"\
            : \"政商务实战语境下的注意点或破绽提示\",\n      \"examples\": [\"包含该词的实战例句1\"],\n    \
            \  \"source\": \"Dify_Workflow_Auto\"\n    },\n    \"userId\": \"default-user\"\
            \n  }\n]\n"
        selected: false
        title: LLM 词汇 Part B
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_part_b
      position:
        x: 704
        y: 168
      positionAbsolute:
        x: 704
        y: 168
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1778494763066'
          - result
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: '86'
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: prompt-llm3
          role: system
          text: "请根据检索到的语料内容 {{#context#}} 和用户输入的 {{#1778494534971.material_text#}}\
            \ 进行提纯。\n# 你的分工\n重点提取 **条款博弈、让步让利、陈述与保证** 相关的词汇，以及 **逻辑破绽识别专用词**（如 contradiction,\
            \ ambiguity, counter-party risk 等）。\n# 数量要求\n- 6个核心词汇：包含 IPA 国际音标、精准商务释义、以及在此业务语境下的用法。\n\
            - 4个深度短语：每个短语仅需 1 个精炼例句，模拟\"条款博弈\"中的让步让利场景。\n- 5个破绽识别专属词汇：如 contradiction,\
            \ ambiguity, counterparty risk, material misrepresentation, exculpatory\
            \ clause 等。\n# 输出格式\n请严格输出一个 JSON 数组，禁止包含 markdown 代码块（不要输出 ```json），结构如下：\n\
            [\n  {\n    \"word\": \"提取的单词或短语\",\n    \"dictType\": \"manual_capture\"\
            ,\n    \"category\": \"business\",\n    \"payload\": {\n      \"meaning\"\
            : \"中文释义\",\n      \"phonetic\": \"国际音标\",\n      \"partOfSpeech\": \"\
            词性(如 n., v.)\",\n      \"definition_en\": \"英文商务释义\",\n      \"business_note\"\
            : \"政商务实战语境下的注意点或破绽提示\",\n      \"examples\": [\"包含该词的实战例句1\"],\n    \
            \  \"source\": \"Dify_Workflow_Auto\"\n    },\n    \"userId\": \"default-user\"\
            \n  }\n]\n"
        selected: false
        title: LLM 词汇 Part C + 破绽词
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_part_c
      position:
        x: 704
        y: 336
      positionAbsolute:
        x: 704
        y: 336
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(json1: str, json2: str, json3: str) -> dict:\n\
          \    merged_list = []\n\n    def parse_chunk(json_str: str) -> list:\n \
          \       if not json_str:\n            return []\n        clean = json_str.strip()\n\
          \        for marker in ['```json', '```']:\n            clean = clean.strip(marker).strip()\n\
          \        try:\n            parsed = json.loads(clean)\n            return\
          \ parsed if isinstance(parsed, list) else []\n        except:\n        \
          \    return []\n\n    merged_list.extend(parse_chunk(json1))\n    merged_list.extend(parse_chunk(json2))\n\
          \    merged_list.extend(parse_chunk(json3))\n\n    json_output = json.dumps(merged_list,\
          \ ensure_ascii=False)\n\n    md_lines = []\n    for item in merged_list:\n\
          \        word = item.get(\"word\", \"\")\n        payload = item.get(\"\
          payload\", {})\n        phonetic = payload.get(\"phonetic\", \"\")\n   \
          \     pos = payload.get(\"partOfSpeech\", \"\")\n        meaning = payload.get(\"\
          meaning\", \"\")\n        def_en = payload.get(\"definition_en\", \"\")\n\
          \        note = payload.get(\"business_note\", \"\")\n        examples =\
          \ payload.get(\"examples\", [])\n\n        md_lines.append(f\"### {word}\
          \ [{phonetic}]\")\n        md_lines.append(f\"* **词性**: {pos}\")\n     \
          \   md_lines.append(f\"* **中/英释义**: {meaning} / {def_en}\")\n        md_lines.append(f\"\
          * **高管实战笔记**: {note}\")\n        md_lines.append(f\"* **博弈例句**:\")\n   \
          \     for ex in examples:\n            md_lines.append(f\"  - {ex}\")\n\
          \        md_lines.append(\"\\n---\")\n\n    markdown_text = \"\\n\".join(md_lines)\n\
          \n    return {\n        \"clean_json\": json_output,\n        \"markdown_text\"\
          : markdown_text\n    }\n"
        code_language: python3
        outputs:
          clean_json:
            children: null
            type: string
          markdown_text:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - llm_part_a
          - text
          value_type: string
          variable: json1
        - value_selector:
          - llm_part_b
          - text
          value_type: string
          variable: json2
        - value_selector:
          - llm_part_c
          - text
          value_type: string
          variable: json3
      height: 52
      id: code_merge
      position:
        x: 1066
        y: 226.8809523809524
      positionAbsolute:
        x: 1066
        y: 226.8809523809524
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: '# 今日政商务英语提纯 - 主题: {{ topic }}


          ---

          ## 核心词汇与短语


          {{ markdown_text }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1778494534971'
          - topic
          value_type: string
          variable: topic
        - value_selector:
          - code_merge
          - markdown_text
          value_type: string
          variable: markdown_text
      height: 52
      id: template_transform
      position:
        x: 1408
        y: 235.54761904761904
      positionAbsolute:
        x: 1408
        y: 235.54761904761904
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - template_transform
          - output
          value_type: string
          variable: study_material
        - value_selector:
          - code_merge
          - clean_json
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 114
      id: end_node
      position:
        x: 1750
        y: 213.21428571428572
      positionAbsolute:
        x: 1750
        y: 213.21428571428572
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 35.84232752243474
      y: 232.07958695445322
      zoom: 0.46182776877051296
  rag_pipeline_variables: []
