yml/Grammar_Polish_Engine.yml
app:
  description: 商务语法润色与进阶引擎。专为高管打造，将中式英语、生硬表达自动重构为地道、专业、富有权力的执行层商务英语。
  icon: ✨
  icon_background: '#EAF4FF'
  icon_type: emoji
  mode: workflow
  name: Grammar_Polish_Engine
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.47@797b0e4de14fa5e09fba49b0d7110e10781457dd89cdab3cba3416629a92754c
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-source-llm-target
      source: 'start'
      sourceHandle: source
      target: 'llm'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: llm-source-end-target
      source: 'llm'
      sourceHandle: source
      target: 'end'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 原始文本
          max_length: 5000
          options: []
          placeholder: '请输入中式或生硬的英文...'
          required: true
          type: text-input
          variable: original_text
      height: 90
      id: 'start'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: '109'
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: prompt-system
          role: system
          text: |
            你是一位常驻华尔街的顶尖高管沟通教练。你的任务是将用户生硬、中式、缺乏权力感的英语，重构为极其地道、专业、富有影响力的“高管级”商务英语。
            
            处理逻辑：
            1. 修正语法错误。
            2. 提升词汇等级（如用 leverage 替代 use，用 align 替代 agree）。
            3. 重塑句子结构以增加商业语境下的权力感（Power Dynamics）或同理心（Empathy）。
            
            # 输出格式要求
            严格遵循以下 Markdown 结构，不要输出其他废话：
            
            **【高管级重构】**
            [在此输出润色后的纯正英文]
            
            **【破局解析】**
            [简明扼要地用中文解释：修改了哪些低级错误，为什么这样改更具“高管感”和专业说服力]
        - id: prompt-user
          role: user
          text: '{{#start.original_text#}}'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 90
      id: 'llm'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        outputs:
        - value_selector:
          - 'llm'
          - text
          value_type: string
          variable: polished_result
        selected: false
        title: 输出
        type: end
      height: 90
      id: 'end'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
