yml/High_Aesthetics_System_Engine.yml
app:
  description: 高阶审美与政商务社交规范训练引擎
  icon: 🍷
  icon_background: '#FFEAD5'
  mode: workflow
  name: Aesthetic Engine
  use_icon_as_answer_icon: false
kind: app
version: 0.1.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        detail: high
        transfer_methods:
        - remote_url
        - local_file
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1715000000000-source-1715000000001-target
      source: '1715000000000'
      sourceHandle: source
      target: '1715000000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1715000000001-source-1715000000002-target
      source: '1715000000001'
      sourceHandle: source
      target: '1715000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: scene_category
          max_length: 48
          options:
          - 政商务饭局与敬酒
          - 茶席与茶礼社交
          - 红酒与雪茄品鉴
          - 高尔夫轻商务
          - 跨文化宴请(西方)
          - 跨文化宴请(中东东南亚)
          required: true
          type: select
          variable: scene_category
        - label: user_response
          max_length: 2048
          required: true
          type: paragraph
          variable: user_response
      height: 116
      id: '1715000000000'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: >-
            作为顶层阶层礼仪与跨文化心理专家，请无情地审视并评估用户在【{{#1715000000000.scene_category#}}】场景中的应对。


            用户反馈：

            【{{#1715000000000.user_response#}}】


            请强制输出严格的JSON格式（不带任何Markdown符号，确保前端可直接被JSON.parse解析），必须包含以下三个key：

            "feedback": 深度点评与避坑指南

            "score": 0到10的打分数字

            "is_passed": true或false（8分及以上为true）
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1715000000001'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1715000000001'
          - text
          variable: json_result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1715000000002'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244