yml/Impromptu_Speech_Prompter.yml
app:
  description: 即兴演讲主题提示词生成器。根据给定的主题，生成演讲提纲、关键论点、实用短语和思维导图结构，帮助用户更好地组织即兴演讲内容。
  icon: 💡
  icon_background: '#FFF3E0'
  icon_type: emoji
  mode: workflow
  name: Impromptu_Speech_Prompter
  use_icon_as_answer_icon: false
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    retriever_resource:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-to-llm
      source: '1779490000001'
      sourceHandle: source
      target: '1779490000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-to-code
      source: '1779490000002'
      sourceHandle: source
      target: '1779490000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: code-to-end
      source: '1779490000003'
      sourceHandle: source
      target: '1779490000004'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 演讲主题
          max_length: 256
          options: []
          placeholder: 例如：跨文化商务谈判
          required: true
          type: text-input
          variable: theme
        - default: 中等
          hint: ''
          label: 难度级别
          options:
          - 基础
          - 中等
          - 进阶
          placeholder: ''
          required: true
          type: select
          variable: difficulty
      height: 161
      id: '1779490000001'
      position:
        x: 0
        y: 67
      positionAbsolute:
        x: 0
        y: 67
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 1779490000101
          role: system
          text: "你是一位专业的商务英语演讲教练。你需要根据用户给定的主题，生成一份完整的即兴演讲准备指南。\n\n你的输出必须严格遵循以下JSON格式，不要包含任何其他文字或Markdown标记：\n\n{\n  \"outline\": {\n    \"opening\": \"开场白建议（1-2句话）\",\n    \"main_points\": [\"论点1\", \"论点2\", \"论点3\"],\n    \"closing\": \"结尾总结建议（1-2句话）\"\n  },\n  \"key_arguments\": [\n    {\n      \"point\": \"核心观点\",\n      \"evidence\": \"支撑论据或例子\",\n      \"transition\": \"过渡语句\"\n    }\n  ],\n  \"useful_phrases\": {\n    \"openings\": [\"开场短语1\", \"开场短语2\", \"开场短语3\"],\n    \"transitions\": [\"过渡短语1\", \"过渡短语2\"],\n    \"emphasizing\": [\"强调短语1\", \"强调短语2\"],\n    \"conclusions\": [\"结尾短语1\", \"结尾短语2\"]\n  },\n  \"mindmap\": {\n    \"center\": \"主题关键词\",\n    \"branches\": [\n      {\"title\": \"分支1\", \"keywords\": [\"关键词A\", \"关键词B\"]},\n      {\"title\": \"分支2\", \"keywords\": [\"关键词C\", \"关键词D\"]},\n      {\"title\": \"分支3\", \"keywords\": [\"关键词E\", \"关键词F\"]}\n    ]\n  },\n  \"tips\": [\"建议1\", \"建议2\", \"建议3\"]\n}"
        - id: 1779490000102
          role: user
          text: "主题：{{#1779490000001.theme#}}\n难度级别：{{#1779490000001.difficulty#}}\n\n请为这个主题生成即兴演讲准备指南。"
        selected: false
        title: 提示词生成器
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1779490000002'
      position:
        x: 342
        y: 67
      positionAbsolute:
        x: 342
        y: 67
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          def main(llm_text: str) -> dict:
              result = {
                  "outline": {
                      "opening": "",
                      "main_points": [],
                      "closing": ""
                  },
                  "key_arguments": [],
                  "useful_phrases": {
                      "openings": [],
                      "transitions": [],
                      "emphasizing": [],
                      "conclusions": []
                  },
                  "mindmap": {
                      "center": "",
                      "branches": []
                  },
                  "tips": []
              }
              try:
                  clean_str = llm_text.strip().strip('```json').strip('```').strip()
                  json_match = re.search(r'\{[\s\S]*\}', clean_str)
                  if json_match:
                      parsed = json.loads(json_match.group())
                      result["outline"] = parsed.get("outline", result["outline"])
                      result["key_arguments"] = parsed.get("key_arguments", [])
                      result["useful_phrases"] = parsed.get("useful_phrases", result["useful_phrases"])
                      result["mindmap"] = parsed.get("mindmap", result["mindmap"])
                      result["tips"] = parsed.get("tips", [])
              except Exception as e:
                  pass
              return result
        code_language: python3
        outputs:
          key_arguments:
            children: null
            type: array[object]
          mindmap:
            children: null
            type: object
          outline:
            children: null
            type: object
          tips:
            children: null
            type: array[string]
          useful_phrases:
            children: null
            type: object
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1779490000002'
          - text
          value_type: string
          variable: llm_text
      height: 52
      id: '1779490000003'
      position:
        x: 684
        y: 85
      positionAbsolute:
        x: 684
        y: 85
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1779490000003'
          - outline
          value_type: object
          variable: outline
        - value_selector:
          - '1779490000003'
          - key_arguments
          value_type: array[object]
          variable: key_arguments
        - value_selector:
          - '1779490000003'
          - useful_phrases
          value_type: object
          variable: useful_phrases
        - value_selector:
          - '1779490000003'
          - mindmap
          value_type: object
          variable: mindmap
        - value_selector:
          - '1779490000003'
          - tips
          value_type: array[string]
          variable: tips
        selected: false
        title: 输出
        type: end
      height: 200
      id: '1779490000004'
      position:
        x: 1026
        y: 0
      positionAbsolute:
        x: 1026
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 40
      y: 50
      zoom: 0.8
  rag_pipeline_variables: []
