yml/Impromptu_Speech_Enhanced.yml
app:
  description: '请从以下5个维度对即兴演讲的内容进行评估（满分10分），并给出总分：

    1. 逻辑连贯性（Logic & Coherence）- 观点是否清晰、论证是否有条理

    2. 词汇丰富度（Vocabulary Range）- 是否使用商务/专业词汇、避免重复

    3. 语言流利度（Fluency）- 基于文字内容评估语法正确性和表达流畅性

    4. 主题相关性（Topic Relevance）- 是否紧扣主题展开

    5. 结构完整性（Structure）- 是否有开头、主体、结尾'
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Impromptu_Speech_Enhanced
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.50@bcca1b734d9ae24ce8ddb9652bd872d69b91a3ffdb2ff8f8885c6f651da33cb0
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1779417423684-source-1779418423033-target
      source: '1779417423684'
      sourceHandle: source
      target: '1779418423033'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1779418423033-source-1779418462729-target
      source: '1779418423033'
      sourceHandle: source
      target: '1779418462729'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779418462729-source-1779418592897-target
      source: '1779418462729'
      sourceHandle: source
      target: '1779418592897'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1779418592897-source-1779419078456-target
      source: '1779418592897'
      sourceHandle: source
      target: '1779419078456'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 用户演讲的主题
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: theme
        - default: ''
          hint: ''
          label: 演讲时长（分钟）
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: duration_minutes
        - allowed_file_extensions: []
          allowed_file_types:
          - audio
          allowed_file_upload_methods:
          - local_file
          default: ''
          hint: ''
          label: 音频文件
          options: []
          placeholder: ''
          required: true
          type: file
          variable: audio_file
      height: 161
      id: '1779417423684'
      position:
        x: 0
        y: 67
      positionAbsolute:
        x: 0
        y: 67
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The audio file to be converted.
            ja_JP: The audio file to be converted.
            pt_BR: The audio file to be converted.
            zh_Hans: 要转换的音频文件。
          label:
            en_US: Audio File
            ja_JP: Audio File
            pt_BR: Audio File
            zh_Hans: 音频文件
          llm_description: The audio file to be converted.
          max: null
          min: null
          name: audio_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: All available ASR models. You can config model in the Model Provider
              of Settings.
            ja_JP: All available ASR models. You can config model in the Model Provider
              of Settings.
            pt_BR: All available ASR models. You can config model in the Model Provider
              of Settings.
            zh_Hans: 所有可用的 ASR 模型。你可以在设置中的模型供应商里配置。
          label:
            en_US: Model
            ja_JP: Model
            pt_BR: Model
            zh_Hans: Model
          llm_description: null
          max: null
          min: null
          name: model
          options:
          - icon: null
            label:
              en_US: paraformer-realtime-v1(langgenius/tongyi/tongyi)
              ja_JP: paraformer-realtime-v1(langgenius/tongyi/tongyi)
              pt_BR: paraformer-realtime-v1(langgenius/tongyi/tongyi)
              zh_Hans: paraformer-realtime-v1(langgenius/tongyi/tongyi)
            value: langgenius/tongyi/tongyi#paraformer-realtime-v1
          - icon: null
            label:
              en_US: paraformer-realtime-v2(langgenius/tongyi/tongyi)
              ja_JP: paraformer-realtime-v2(langgenius/tongyi/tongyi)
              pt_BR: paraformer-realtime-v2(langgenius/tongyi/tongyi)
              zh_Hans: paraformer-realtime-v2(langgenius/tongyi/tongyi)
            value: langgenius/tongyi/tongyi#paraformer-realtime-v2
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          audio_file: ''
          model: ''
        plugin_id: null
        plugin_unique_identifier: ''
        provider_icon: /console/api/workspaces/current/tool-provider/builtin/audio/icon
        provider_id: audio
        provider_name: audio
        provider_type: builtin
        selected: false
        title: Speech To Text
        tool_configurations:
          model:
            type: constant
            value: langgenius/tongyi/tongyi#paraformer-realtime-v1
        tool_description: 将音频文件转换为文本。
        tool_label: Speech To Text
        tool_name: asr
        tool_node_version: '2'
        tool_parameters:
          audio_file:
            type: variable
            value:
            - '1779417423684'
            - audio_file
        type: tool
      height: 88
      id: '1779418423033'
      position:
        x: 342
        y: 104
      positionAbsolute:
        x: 342
        y: 104
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: '86'
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 600948bb-d7f8-452a-9f83-ff96e3436033
          role: system
          text: '你是一位资深的高管英语外教，擅长从多个维度评估学生的即兴演讲表现。你的评估必须专业、严厉且一针见血，符合政商务场景要求。


            特别注意结合音频特征分析：

            - 根据演讲时长和文字量评估语速是否适中

            - 根据句子长度和结构评估语法复杂度

            - 根据用词选择评估词汇层次'
        - id: 9b05c0b0-581a-4e70-8600-33270ddeb487
          role: user
          text: '【即兴演讲评估任务】

            主题：{{#1779417423684.theme#}}

            演讲时长：{{#1779417423684.duration_minutes#}}分钟

            转录文本：

            {{#1779418423033.text#}}


            请从以下5个维度进行评估（满分10分），并给出总分：

            1. 逻辑连贯性（Logic & Coherence）- 观点是否清晰、论证是否有条理

            2. 词汇丰富度（Vocabulary Range）- 是否使用商务/专业词汇、避免重复

            3. 语言流利度（Fluency）- 基于文字内容评估语法正确性和表达流畅性

            4. 主题相关性（Topic Relevance）- 是否紧扣主题展开

            5. 结构完整性（Structure）- 是否有开头、主体、结尾


            请严格仅以JSON格式返回，不要包含任何其他文字或Markdown标记：

            {"total_score": 7.5, "logic": 8.0, "vocabulary": 7.0, "fluency": 7.5,
            "relevance": 8.0, "structure": 7.0, "audio_features": {"estimated_pace":
            "moderate", "estimated_clarity": "good", "estimated_confidence": "high"},
            "feedback": "总体点评...", "improvement_suggestions": ["建议1", "建议2", "建议3"]}'
        selected: false
        title: LLM 深度评测节点
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1779418462729'
      position:
        x: 684
        y: 104
      positionAbsolute:
        x: 684
        y: 104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(llm_text: str, theme: str, duration:\
          \ str) -> dict:\n    result = {\n        \"total_score\": 0.0,\n       \
          \ \"logic\": 0.0,\n        \"vocabulary\": 0.0,\n        \"fluency\": 0.0,\n\
          \        \"relevance\": 0.0,\n        \"structure\": 0.0,\n        \"feedback\"\
          : \"\",\n        \"improvement_suggestions\": [],\n        \"audio_features\"\
          : {\n            \"estimated_pace\": \"moderate\",\n            \"estimated_clarity\"\
          : \"good\",\n            \"estimated_confidence\": \"high\"\n        }\n\
          \    }\n    try:\n        clean_str = llm_text.strip().strip('```json').strip('```').strip()\n\
          \        json_match = re.search(r'\\{[\\s\\S]*\\}', clean_str)\n       \
          \ if json_match:\n            parsed = json.loads(json_match.group())\n\
          \            result[\"total_score\"] = float(parsed.get(\"total_score\"\
          , 0))\n            result[\"logic\"] = float(parsed.get(\"logic\", 0))\n\
          \            result[\"vocabulary\"] = float(parsed.get(\"vocabulary\", 0))\n\
          \            result[\"fluency\"] = float(parsed.get(\"fluency\", 0))\n \
          \           result[\"relevance\"] = float(parsed.get(\"relevance\", 0))\n\
          \            result[\"structure\"] = float(parsed.get(\"structure\", 0))\n\
          \            result[\"feedback\"] = str(parsed.get(\"feedback\", \"\"))\n\
          \            result[\"improvement_suggestions\"] = parsed.get(\"improvement_suggestions\"\
          , [])\n            if \"audio_features\" in parsed:\n                result[\"\
          audio_features\"] = parsed[\"audio_features\"]\n        else:\n        \
          \    result[\"feedback\"] = \"评测完成，请参考评分\"\n    except Exception as e:\n\
          \        result[\"feedback\"] = f\"评测完成（解析备注: {str(e)}）\"\n    return result"
        code_language: python3
        outputs:
          audio_features:
            children: null
            type: object
          feedback:
            children: null
            type: string
          fluency:
            children: null
            type: number
          improvement:
            children: null
            type: array[string]
          logic:
            children: null
            type: number
          relevance:
            children: null
            type: number
          structure:
            children: null
            type: number
          total_score:
            children: null
            type: number
          vocabulary:
            children: null
            type: number
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1779418462729'
          - text
          value_type: string
          variable: llm_text
        - value_selector:
          - '1779417423684'
          - theme
          value_type: string
          variable: theme
        - value_selector:
          - '1779417423684'
          - duration_minutes
          value_type: string
          variable: duration
      height: 52
      id: '1779418592897'
      position:
        x: 1026
        y: 122
      positionAbsolute:
        x: 1026
        y: 122
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1779418592897'
          - total_score
          value_type: number
          variable: total_score
        - value_selector:
          - '1779418592897'
          - logic
          value_type: number
          variable: logic
        - value_selector:
          - '1779418592897'
          - vocabulary
          value_type: number
          variable: vocabulary
        - value_selector:
          - '1779418592897'
          - fluency
          value_type: number
          variable: fluency
        - value_selector:
          - '1779418592897'
          - relevance
          value_type: number
          variable: relevance
        - value_selector:
          - '1779418592897'
          - structure
          value_type: number
          variable: structure
        - value_selector:
          - '1779418592897'
          - feedback
          value_type: string
          variable: feedback
        - value_selector:
          - '1779418592897'
          - improvement
          value_type: array[string]
          variable: improvement
        - value_selector:
          - '1779418592897'
          - audio_features
          value_type: object
          variable: audio_features
        selected: false
        title: 输出
        type: end
      height: 296
      id: '1779419078456'
      position:
        x: 1368
        y: 0
      positionAbsolute:
        x: 1368
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 40
      y: 233
      zoom: 0.7
  rag_pipeline_variables: []
