yml/Pronunciation_Assessment_Engine.yml
app:
  description: 专门用于处理用户英语发音评测的高阶工作流。接收用户原本想要朗读的目标词/句，以及通过STT识别出的实际发音文本，分析发音错误、重音偏移及连读问题。
  icon: 🗣️
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Pronunciation_Assessment_Engine
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.47@797b0e4de14fa5e09fba49b0d7110e10781457dd89cdab3cba3416629a92754c
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: true
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: start-to-llm
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: llm-to-end
      source: llm
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - desc: 用户原本想说的目标词汇或句子
          max_length: 256
          options: []
          required: true
          type: text-input
          label: target_text
          variable: target_text
        - desc: 通过 Whisper 或 STT 识别出的用户实际录音文本
          max_length: 1024
          options: []
          required: true
          type: text-input
          label: recognized_text
          variable: recognized_text
      height: 135
      id: start
      position:
        x: 80
        y: 281
      positionAbsolute:
        x: 80
        y: 281
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.2
            top_p: 0.8
          mode: chat
          name: '111'
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 6fd756ac-eb0f-4cb6-ad2e-0f1308c2d41e
          role: system
          text: '你是一名极其严苛的顶尖英语发音教练。 你将收到两个信息： 1. target_text: 用户本来想发音的单词或句子。 2. recognized_text:
            STT (Speech-to-Text) 引擎听到的结果（如果发音极差，STT 会识别成发音相近的错误词汇）。

            你的任务是： 比对两者，敏锐地指出用户发音中可能存在的问题。 如果两者一致，说明发音基本过关，给出标准音标即可。 如果存在偏差，请通过发音学的角度（元音饱满度、辅音浊化、重音偏移、连读弱读等）指出为何会被听错。

            输出格式（严格返回纯文本，无需markdown语法包裹，字数精简在100字以内）： 目标：{target_text} [{音标}] 诊断：[你犀利的纠音诊断]'
        - id: c5fbe526-b667-4b1e-bafb-c259f8c580d5
          role: user
          text: 'Target: {{#start.target_text#}}

            Recognized: {{#start.recognized_text#}}'
        selected: false
        title: 发音诊断 (LLM)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 372
        y: 314
      positionAbsolute:
        x: 372
        y: 314
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - llm
          - text
          variable: correction_note
        selected: false
        title: 结束
        type: end
      height: 88
      id: end
      position:
        x: 694
        y: 314
      positionAbsolute:
        x: 694
        y: 314
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 154
      y: -72
      zoom: 1
  rag_pipeline_variables: []
