yml/speak_engine.yml
app:
  description: 破局系统（说）：高阶影响力与精准提问训练引擎
  icon: 🗣️
  icon_background: '#F5F8FF'
  icon_type: emoji
  mode: workflow
  name: Speak_Influence_Engine
  use_icon_as_answer_icon: false
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1-source-2-target
      source: '1'
      sourceHandle: source
      target: '2'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 2-source-3-target
      source: '2'
      sourceHandle: source
      target: '3'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 训练模式
          max_length: 256
          options:
          - 结构化表达
          - 精准提问
          - 即兴反击
          placeholder: ''
          required: true
          type: select
          variable: training_mode
        - default: ''
          hint: ''
          label: 沟通场景
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: scenario
        - default: ''
          hint: ''
          label: 用户角色
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_role
        - default: ''
          hint: ''
          label: 受众角色
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: target_audience
        - default: ''
          hint: ''
          label: 用户的原始发言
          max_length: 150000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: user_input
      height: 196
      id: '1'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: system-prompt-id
          role: system
          text: "你是一位顶级的职场高管教练和政商沟通专家，精通权力动态、金字塔原理、博弈论与话语权控制。\n你需要根据用户的输入进行点评并重构话术。\n\
            \n当前训练模式：{{#1.training_mode#}}\n沟通场景：{{#1.scenario#}}\n用户角色：{{#1.user_role#}}\n\
            受众角色：{{#1.target_audience#}}\n\n【评估规则】\n如果模式是“结构化表达”：\n检查是否符合金字塔逻辑（结论先行、以上统下）；评估角色分寸度（体制内重稳妥、外企重效率、对上级重尊重、对下级重指令）。\n\
            如果模式是“精准提问”：\n检查是否能击中问题核心；提问方式是否符合当前权力动态（如向上级用“委婉探讨/请教”，对外企用“直接专业”）。\n如果模式是“即兴反击”：\n\
            面对刁难，检查是否陷入了“自证陷阱”；必须用“结论+核心事实论据”的高维框架把问题抛回，做到不卑不亢、委婉修正。\n\n【输出格式】\n\
            请严格输出合法的JSON格式，不要包含Markdown代码块符号（如 ```json ）。\n{\n  \"score\": 85, // 1-100的评分\n\
            \  \"critique\": \"对原始话术的深度剖析，指出逻辑漏洞或分寸度不当的地方\",\n  \"framework_analysis\"\
            : \"分析在此场景和权力动态下，应该采用何种逻辑框架和话语策略\",\n  \"revised_version\": \"你重构的完美话术（直接可用的台词）\"\
            \n}"
        - id: user-prompt-id
          role: user
          text: "{{#1.user_input#}}"
        selected: false
        title: 高阶沟通教练
        type: llm
        vision:
          enabled: false
      height: 98
      id: '2'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '2'
          - text
          value_type: string
          variable: result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '3'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []