yml/Theme_Daily_Auto_Feeder.yml
app:
  description: 每日自动化弹药投喂引擎。根据输入的主题，一次性生成符合政商务语境的1篇核心长文、30个战术词汇、15个博弈短语/句型，以及1段盲听舱配套语料。
  icon: 🏭
  icon_background: '#E8F1FF'
  icon_type: emoji
  mode: workflow
  name: Theme_Daily_Auto_Feeder
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.47@797b0e4de14fa5e09fba49b0d7110e10781457dd89cdab3cba3416629a92754c
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: edge-start-llm
      source: start_node
      sourceHandle: source
      target: llm_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-llm-code
      source: llm_node
      sourceHandle: source
      target: code_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: edge-code-end
      source: code_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 训练主题
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: theme
        - default: B2
          hint: ''
          label: 难度评级
          max_length: 48
          options:
          - B1
          - B2
          - C1
          placeholder: ''
          required: true
          type: select
          variable: difficulty
      height: 135
      id: start_node
      position:
        x: 40
        y: 200
      positionAbsolute:
        x: 40
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: gpt-4o
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: system_prompt
          role: system
          text: "你是一个顶级的跨国企业私教引擎。任务是根据用户给定的【训练主题】和【难度评级】，一次性生成全天的英语训练“弹药”。\n\n【输入参数】\n主题：{{#start_node.theme#}}\n难度：{{#start_node.difficulty#}}\n\n【强制要求】\n必须返回合法的 JSON 格式，绝不可包含 ```json 等 Markdown 标记，直接输出大括号包裹的内容。\n结构必须严格遵循如下规范：\n{\n  \"daily_article\": {\n    \"title\": \"主题文章标题\",\n    \"content\": \"一篇200-300字的商务实战长文，必须紧扣主题，包含下方的词汇和短语\"\n  },\n  \"vocab\": [\n    { \"word\": \"单词\", \"phonetic\": \"音标\", \"pos\": \"词性\", \"meaning\": \"精炼的中文商务含义\" }\n  ],\n  \"phrases_and_sentences\": [\n    { \"phrase\": \"高频短语\", \"example\": \"极具压迫感或决策属性的实战例句\", \"meaning\": \"例句中文翻译\" }\n  ],\n  \"listening_material\": {\n    \"title\": \"一段相关的职场对话标题\",\n    \"content_text\": \"适合做盲听测试的一段英文对话原声文本\",\n    \"subtext_analysis\": \"中文解析：分析对话中某方的真实利益、权力位置或潜台词\",\n    \"duration\": 60\n  }\n}\n\n【硬性数量约束】\n1. vocab 必须精确提取 30 个高阶商务词汇（不要 basis 词汇）。\n2. phrases_and_sentences 必须精确提取 15 个短语及例句。\n3. 例句必须涵盖向上汇报、向下施压或平级推诿的复杂职场语境。\n"
        selected: false
        title: 弹药生成核心
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_node
      position:
        x: 340
        y: 200
      positionAbsolute:
        x: 340
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(llm_text: str) -> dict:\n    clean_str = llm_text.strip().strip('```json').strip('```').strip()\n    try:\n        parsed = json.loads(clean_str)\n        return {\"result_json\": json.dumps(parsed, ensure_ascii=False)}\n    except Exception as e:\n        return {\"result_json\": json.dumps({\"error\": \"JSON解析失败\", \"raw\": clean_str}, ensure_ascii=False)}\n"
        code_language: python3
        outputs:
          result_json:
            children: null
            type: string
        selected: false
        title: JSON 清洗
        type: code
        variables:
        - value_selector:
          - llm_node
          - text
          value_type: string
          variable: llm_text
      height: 52
      id: code_node
      position:
        x: 640
        y: 200
      positionAbsolute:
        x: 640
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - code_node
          - result_json
          value_type: string
          variable: result
        selected: false
        title: 结束
        type: end
      height: 88
      id: end_node
      position:
        x: 940
        y: 200
      positionAbsolute:
        x: 940
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1.0000000000000027
  rag_pipeline_variables: []
